## Ignore all files and folders
*
!.github/workflows/*.yml
!/**/

# root folder
!.gitignore
!LICENSE
!README.md
/**/Debug
/**/Release

## Add specific files
!LessPaper.WriteService.sln
!LessPaper.WriteService/LessPaper.WriteService.csproj
!LessPaper.WriteService.UnitTest/LessPaper.WriteService.UnitTest.csproj
!LessPaper.WriteService.IntegrationTest/LessPaper.WriteService.IntegrationTest.csproj
!LessPaper.WriteService/Properties/launchSettings.json
!LessPaper.WriteService/appsettings.Development.json
!LessPaper.WriteService/appsettings.json
!LessPaper.WriteService.sln.DotSettings

!/**/*.cs